<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PageTheScroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2810B2FC1E4882AB00ECD2F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2810B3101E4882AB00ECD2F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2810B31B1E4882AB00ECD2F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
